
/* -------------------------------------------------
   1. Светлая тема «по умолчанию»,
      если пользовательская ОС = light
--------------------------------------------------*/

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-day) {
    --color-text:        var(--color-text_light);
    --color-accent:      var(--color-accent_light);
    --color-main-title:  var(--color-main-title_light);
    --color-bg:          var(--color-bg_light);
    --color-subtitle:    var(--color-subtitle_light);
  }
}

/* -------------------------------------------------
   2. Ручное включение светлой темы (.theme-day)
--------------------------------------------------*/

:root.theme-day,
.theme-day {
  --color-text:        var(--color-text_light);
  --color-accent:      var(--color-accent_light);
  --color-main-title:  var(--color-main-title_light);
  --color-bg:          var(--color-bg_light);
  --color-subtitle:    var(--color-subtitle_light);
}

/* -------------------------------------------------
   3. Стили компонентов, которые в светлой теме
      отличаются
--------------------------------------------------*/

.theme-day .page  { background-color: var(--color-bg); }

/* фон шапки */
.theme-day .header {
  background-image: url("../images/cover-image-light.png");
}

/* скрываем REC */
.theme-day .header__rec {
  visibility: hidden;
  pointer-events: none;
}
